// Main container

body > main {
  margin-top: 54px;
  min-height: calc(100vh-27px); // Viewport height minus medium screen navbar height, to push footer to bottom
  padding-bottom: $grid-gutter-width; // Don't stick to footer
}
