// Navbar

.navbar {
  background-color: white!important;
  border-bottom: 1px solid $gray-200;
  z-index: 5;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  //text-transform: uppercase;

  .navbar-brand {
    font-weight: bold;
    img {
      height: 30px;
    }
  }

  // Remove border on .dropdown-menu when .navbar is collapsed
  @include media-breakpoint-down(md) {
    .dropdown-menu {
      border: none;
      padding-top: 0;
      z-index: 5;
    }
  }

  .navbar-toggler {
    font-size: 90%;
    padding: 10px;
    text-transform: uppercase;
    z-index: 5;
  }
}
