---
layout: default
description: Template for contact
remark: See also page.layout == 'contact' in head.html and jumbotron.html
---




<p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15503.717562893342!2d126.83255253945929!3d35.22501846552994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35718e38bd1d0629%3A0x9bc1b7198053add1!2sGIST%20%7C%20Gwangju%20Institute%20of%20Science%20and%20Technology!5e0!3m2!1sen!2skr!4v1617611094964!5m2!1sen!2skr" style="border:0;width:100%" allowfullscreen="" loading="lazy"></iframe></p>
<p><b>Address</b>: GIST, S7 (AI Graduate School) #204,<br> 123 Cheomdangwagi-ro, Buk-gu, <br> Gwangju, 61005, Korea </p>
<p><b>Tel</b>: +82-62-715-6381</p>
