---
layout: default_small
description: Template for members page
---

<style>
.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.1);
  font-size: 12px;
  margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}
</style>

{% for member in site.data.members %}
  <div class="media team-member">
   {% if member.position %} 
     <div class="hr-sect"><font color='grey'>{{ member.position }}</font></div>
         
   {% else %}
    {% if member.image %} 
      <img class="mr-3" src="{{ member.image | relative_url }}">
    {% endif %}
    <div class="media-body">
      <p stype="margin-bottom:0.5em">
      <big><b>
        <font color="#4B3E3B">{{ member.name }}</font>
      </b>
        {% if member.role %}
        <small class="text-muted">| {{ member.role }}</small>
        {% endif %}
        {% if member.now %}
        <small class="text-muted">| {{ member.role }}</small>
        {% endif %}
      </big>
      </p>
      

      {{ member.description | markdownify }}

      <ul class="list-inline">
        {% if member.homepage %}
        <li class="list-inline-item">
          <a href="https://{{ member.homepage }}"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
        </li>
        {% endif %}

        {% if member.email %}
        <li class="list-inline-item">
          <a href="mailto:{{ member.email }}"><i class="fa fa-envelope"></i></a>
        </li>
        {% endif %}

        {% if member.googlescholar %}
        <li class="list-inline-item">
          <a href="https://{{ member.googlescholar }}"><i class="fa fa-google" aria-hidden="true"></i></a>
        </li>
        {% endif %}

        {% if member.github %}
        <li class="list-inline-item">
          <a href="https://github.com/{{ member.github }}"><i class="fa fa-github"></i></a>
        </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}    
  </div>
{% endfor %}

