---
layout: default
description: Template for publications page
---

<style>
img {
  max-width: 100%;
  height: auto;
}
</style>

{{ content }}

{% for paper in site.data.publications %}

  <div class="media paper">
    {% if paper.year %}
      <p stype="line-height:110%;margin-bottom:0.5em"><font color='grey'>{{ paper.year }}</font></p>
    {% endif %}
    {% if paper.image %}
    <img class="mr-3" height="150px" width="150px" src="{{ paper.image | relative_url }}">
    {% endif %}
    <div class="media-body">
      {{ paper.name }}
      <br>           
      {% if paper.author %}
        <small>
          <p style="line-height:110%;margin-bottom:0.2em" >
          <font color="grey">{{ paper.author }}</font>
          </p>
          {{ paper.conference | markdownify }}
        </small>
      {% endif %}
      

      <ul class="list-inline">
        {% if paper.pdf %}
        <li class="list-inline-item">
          <a href="https://{{ paper.pdf }}"><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        {% endif %}

        {% if paper.project %}
        <li class="list-inline-item">
          <a href="https://{{ paper.project }}"><i class="fa fa-envelope"></i></a>
        </li>
        {% endif %}

        {% if paper.github %}
        <li class="list-inline-item">
          <a href="https://github.com/{{ paper.github }}"><i class="fa fa-github"></i></a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  {% if paper.name %}
  <br>
  {% endif %}
{% endfor %}
